


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: whitesmoke;
}

.container{
  max-width: 100vw;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.container-text{
  max-width: 100vw;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8rem;
}

.logo{
  display: flex;
  flex-direction: column;
  margin-left: 40%;
  font-size: 3.5rem;
}

.text{
  margin-top: 3.2rem;
  font-size: 1.6rem;
}