@import url('https://fonts.cdnfonts.com/css/stranger-things');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #1A1A1A;
  font-family: 'Stranger Things', sans-serif;
                                                
}

.container{
  max-width: 100vw;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: #FFFAF1;
}

.container-gradient{
  max-width: 100vw;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-image: linear-gradient(to bottom, red, whitesmoke);
}

.container-text{
  max-width: 100vw;
  width: 60%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8rem;
  background: linear-gradient(
    135deg,
    #ff0000 0%,
    #FFFAF1 100%
  );
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
}

.container-text:nth-child(even) {
  background: linear-gradient(
    315deg,
    #ff0000 0%,
    #FFFAF1 100%
  );
}

.logo{
  display: flex;
  flex-direction: column;
  margin-left: 40%;
  font-size: 3.5rem;
  background: transparent;
}


.text p{
  margin-top: 2.2rem;
  font-size: 1.6rem;
  background: transparent;
}

#about-me{
  width: 100%;
  font-size: 2.2rem;
  text-align: left;
}

#about-me h1{
  text-decoration: underline;
  align-self: start;
  font-size: 5.5rem;
}

.emphasis{
  color: whitesmoke;
  font-weight: bolder;
}

.image-stack {
  position: relative;
  width: 600px;
  height: 580px;
}

.image-stack img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease;
}

.image-stack img:nth-child(1) {
  transform: rotate(-10deg) translateX(-25px);
  z-index: 1;
}

.image-stack img:nth-child(2) {
  transform: rotate(0deg);
  z-index: 2;
}

.image-standalone, .image-standalone-profile{
  transform: rotate(-10deg) translateX(-25px);
  width: 40vw;
  height: 50vh;
}

.image-standalone-profile{
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
  background: transparent;
  margin-left: 80px;
}

.image-stack img:nth-child(3) {
  transform: rotate(10deg) translateX(25px);
  z-index: 1;
}

span, p{
  background-color: transparent;
}